.bgimg-1 {
    background-image: url("../media/contactus.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.bg-mildblue {
    background-color: rgba(135, 206, 235, 0.7);
}

.bgimg-2{
    background-image: url("../media/login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgimg-3{
    background-image: url("../media/partnerwithus.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.bgimg-4{
    background-image: url("../media/faq.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.how_to_make {
    background-image: url("../media/howtomake-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.chicken  {
    
    background-image: url('../media/bg.jpg');
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;

}

#bg1  {
    
    background-image: url('../media/bg-2.jpg');
 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;

}